<!-- Frontend copied and modified from here: https://github.com/abhinavsagar/machine-learning-deployment/tree/master/predict%20sales/templates -->


<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SCANN</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
    <h1>SCANN</h1>
     <h5> (Smart Contract Approximate Nearest Neighbours) </h5>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="contract" placeholder="copy-past smart-contract here" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Find</button>
    </form>

   <br>
   <br>
   {{ prediction_text1 }}
     {{ prediction_text2 }}
     {{ prediction_text3 }}
     {{ prediction_text4 }}
     {{ prediction_text5 }}
     <h3>Our Flask Buttons<h3/>
    <form action="{{ url_for('view_contracts')}}"method="post">
        <input type="submit" value="view1" name="action1"/>
        <input type="submit" value="view2" name="action2"/>
    </form>

 </div>


</body>
</html>

